body{
    background-color: whitesmoke;
}
.parent{
    height: 400px;
    width: 70%;
    display: flex;
    background-color: red;
    overflow-x: hidden;
}
.slide{
    display: flex;
}
img{       
    /* width:25%; */
    height: 350px;
}
p{
    font-size: 20px;
    color: white;
    font-weight: 900;
    margin: 0;
}

.fa-less-than{
 position: absolute;
 top: 50%;
 bottom: 50%;
 color: rgb(22, 101, 237);
 font-size: 50px;
 font-weight: bolder;
 left: 2%

}
.fa-greater-than{
    position: absolute;
    top: 50%;
    left: 60%;
    bottom: 50%;
    color: rgb(31, 231, 161);
    font-size: 50px;
    font-weight: bolder;
    right: 5%;


}
